<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi primer Server</title>
</head>
<body>

  <%- include('partials/navigation'); %>
  <h1>Hola con Express y EJS</h1>
</body>
</html>